@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// declaring global colors in this section, who knows... maybe we'll make it themable
:root {
    // colors
    --body-background: #fff;
    --hover-buttons: #eee;

    // shadows
    --menu-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);

    // actions
    --active-opacity: .6;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 400;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;

  // body dimensions
  width: 100%;
  height: 100%;

  // making all custom elements inside body as display flex
  *:defined:not(style):not(link):not(script) {
    display: flex;
    box-sizing: border-box;
  }

  div {
    box-sizing: border-box;
  }

  app-layout {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .top-toolbar {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }

    .app-body {
      display: flex;
      flex: 1;
    }
  }
}
