context-toolbar {
  flex: 1;
  column-gap: 10px;

  // targeting elements that end with button name
  .ctx-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 2px;
    border: var(--sepparator);
    border-radius: 5px;

    &:active {
      opacity: var(--active-opacity);
    }
  }
}
